/* Header */

header {
    background: #FACF4F;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

h1 {
    font-family: 'Penguin Attack', arial;
    font-size: 7vw;
    line-height: 87px;
    margin-left: auto;
    margin-right: auto;
    width: 52%;
    padding-bottom: 1.7%;
    padding-top: 2%;
}

nav {
    box-sizing: border-box;
}

nav ul {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: #C7A43B;
    padding-bottom: 1%;
    padding-top: 1%;
}

.topmenu>li {
    display: inline-block;
    position: relative;
    font-size: 2vw;
    padding-left: 6.8%;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

nav a {
    color: #592930;
    display: inline-block;
    outline: none;
    transition: .4s ease-in-out;
}

.topmenu {
    backface-visibility: hidden;
}

.down:after {
    content: "\f107";
    margin-left: 8%;
    font-family: FontAwesome;
}

.submenu {
    background: white;
    border: 2px solid #592930;
    position: absolute;
    left: 20%;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 123%;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: .6s ease-in-out;
    margin-top: 5%;
}

.topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}

.submenu li a {
    color: #592930;
    padding: 0 15.5%;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 7%;
}

.Sup {
    padding-top: 5%;
}


/* Книги */

a {
    color: black;
}

.book {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    margin-top: 8%;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 50%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

p {
    margin-top: 2%;
}

.books {
    display: flex;
    margin-left: 2%;
    width: 96%;
    margin-top: 6%;
    text-align: center;
}

.bbooks {
    display: flex;
    margin-left: 2%;
    width: 96%;
    margin-top: 7%;
    text-align: center;
}

.cbooks {
    display: flex;
    margin-left: 2%;
    width: 96%;
    margin-top: 7%;
    text-align: center;
}


/* Кнопка */

.ba {
    position: relative;
    background: #C7A43B;
    color: black;
    font-size: 22px;
    border: #C7A43B;
    margin-top: 6%;
    margin-bottom: 7%;
    width: 11%;
    left: 44%;
    height: 55px;
}

.ba:hover {
    animation: bounce 1s;
}

@keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }
}


/* Футер */

footer {
    background: #FACF4F;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 7%;
}

.footer {
    display: flex;
}

footer p {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 5%;
}

footer p::before {
    content: "\f1f9";
    margin-right: 0.5%;
    font-family: FontAwesome;
}

footer img {
    padding-top: 40%;
    padding-bottom: 40%;
    width: 60%;
}

.viber {
    margin-left: 40%;
}

.telegram {
    margin-left: 22%;
}

.facebook {
    margin-right: -7%;
    padding-top: 76%;
}

.insta {
    margin-right: -10%;
}

footer div p {
    width: 80%;
}

@media(max-width: 1243px) {
    h2 {
        text-indent: 24px;
        width: 95%;
    }
}

@media(max-width: 850px) {
    .books,
    .bbooks,
    .cbooks {
        display: block;
    }
    p {
        margin-top: 3%;
        margin-bottom: 5%;
    }
    .ba {
        font-size: 18px;
        width: 15%;
        left: 44%;
        height: 40px;
    }
}

@media(max-width: 750px) {
    h2 {
        font-size: 26px;
        font-weight: 300;
        text-indent: 24px;
        width: 95%;
    }
}

@media(max-width: 540px) {
    h2 {
        font-size: 20px;
        font-weight: 100;
        text-indent: 24px;
        width: 95%;
    }
    .ba {
        font-size: 16px;
        width: 20%;
        left: 40%;
        height: 40px;
    }
    footer p {
        font-size: 8px;
        font-weight: 100px;
    }
}

@media(max-width: 320px) {
    .ba {
        font-size: 14px;
        width: 23%;
        left: 37%;
        height: 40px;
    }
}